html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-family: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

* {
  font-family: 'Noto Sans TC' !important;
  color: #555555;
}

.text_underline {
  display: table;
  position: relative;
}

.text_underline::after {
  content: "";
  width: 100%;
  padding-top: 5px;
  border-radius: 10px;
  background-color: #FFC400;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 1.6;
  font-weight: 800;
}

@media screen and (max-width: 1439px) {
  h3 {
    font-size: 18px;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
}

@media screen and (max-width: 1439px) {
  p {
    font-size: 14px;
  }
}

span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #999999;
}

@media screen and (max-width: 1439px) {
  span {
    font-size: 12px;
  }
}

header nav p {
  font-size: 20px !important;
  font-weight: 600 !important;
}

html, body {
  padding: 0;
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

button.btnA_XLwRA {
  position: relative;
  z-index: 2;
  width: 190px;
  height: 45px;
  border: 2px solid #555555;
  background-color: #FFC400;
  outline: 0px !important;
  transition: 0.2s all ease-in-out;
  border-radius: 10px 10px 6px 10px;
}

button.btnA_XLwRA::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-bottom-right-radius: 10px;
  left: 8px;
  top: 8px;
  transition: 0.2s all ease-in-out;
}

button.btnA_XLwRA p {
  position: absolute;
  top: 7px;
  left: 20px;
  transition: 0.2s all ease-in-out;
  color: #555555;
}

button.btnA_XLwRA div.btnArrowXL {
  position: absolute;
  left: 150px;
  top: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 0 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent transparent #555555;
}

button.btnA_XLwRA div.btnArrowXL::before {
  position: absolute;
  content: "";
  left: -11px;
  top: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 0 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent transparent #FFC400;
}

button.btnA_XLwRA div.btnArrowXL::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  left: -40px;
  transition: 0.2s all ease-in-out;
  background-color: #555555;
}

button.btnA_XLwRA:hover::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-color: #FFC400;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  transition: 0.2s all ease-in-out;
}

button.btnA_XLwRA:hover p {
  color: white;
  transform: translate(5px, 5px);
}

button.btnA_XLwRA:hover {
  border: 0px solid #FFC400;
  background-color: #FFC400;
}

button.btnA_XLwRA:hover div {
  transform: translate(5px, 5px);
  border-color: transparent transparent transparent white;
}

button.btnA_XLwRA:hover div::before {
  border-color: transparent transparent transparent #FFC400;
}

button.btnA_XLwRA:hover div::after {
  background-color: white;
}

button.btnA_XLwLA {
  position: relative;
  z-index: 2;
  width: 190px;
  height: 45px;
  border: 2px solid #555555;
  background-color: #FFC400;
  outline: 0px !important;
  transition: 0.2s all ease-in-out;
  border-radius: 10px 10px 6px 10px;
}

button.btnA_XLwLA::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-bottom-right-radius: 10px;
  left: 8px;
  top: 8px;
  transition: 0.2s all ease-in-out;
}

button.btnA_XLwLA p {
  position: absolute;
  top: 7px;
  left: 95px;
  transition: 0.2s all ease-in-out;
  color: #555555;
}

button.btnA_XLwLA div.btnArrowXL {
  position: absolute;
  left: 21px;
  top: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent #555555 transparent;
}

button.btnA_XLwLA div.btnArrowXL::before {
  position: absolute;
  content: "";
  left: -6px;
  top: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent #FFC400 transparent;
}

button.btnA_XLwLA div.btnArrowXL::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  left: -9px;
  top: 9px;
  transition: 0.2s all ease-in-out;
  background-color: #555555;
}

button.btnA_XLwLA:hover::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-color: #FFC400;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  transition: 0.2s all ease-in-out;
}

button.btnA_XLwLA:hover p {
  color: white;
  transform: translate(5px, 5px);
}

button.btnA_XLwLA:hover {
  border: 0px solid #FFC400;
  background-color: #FFC400;
}

button.btnA_XLwLA:hover div {
  transform: translate(5px, 5px);
  border-color: transparent transparent white transparent;
}

button.btnA_XLwLA:hover div::before {
  border-color: transparent transparent #FFC400 transparent;
}

button.btnA_XLwLA:hover div::after {
  background-color: white;
}

button.btnA_LwRA {
  position: relative;
  z-index: 2;
  width: 95px;
  height: 45px;
  border: 2px solid #555555;
  background-color: #FFC400;
  outline: 0px !important;
  transition: 0.2s all ease-in-out;
  border-radius: 10px 10px 6px 10px;
}

button.btnA_LwRA::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-bottom-right-radius: 10px;
  left: 8px;
  top: 8px;
  transition: 0.2s all ease-in-out;
}

button.btnA_LwRA p {
  position: absolute;
  top: 7px;
  left: 3px;
  transition: 0.2s all ease-in-out;
  color: #555555;
}

button.btnA_LwRA div.btnArrowL {
  position: absolute;
  left: 77px;
  top: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 0 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent transparent #555555;
}

button.btnA_LwRA div.btnArrowL::before {
  position: absolute;
  content: "";
  left: -11px;
  top: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 0 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent transparent #FFC400;
}

button.btnA_LwRA div.btnArrowL::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  left: -22px;
  transition: 0.2s all ease-in-out;
  background-color: #555555;
}

button.btnA_LwRA:hover::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-color: #FFC400;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  transition: 0.2s all ease-in-out;
}

button.btnA_LwRA:hover p {
  color: white;
  transform: translate(5px, 5px);
}

button.btnA_LwRA:hover {
  border: 0px solid #FFC400;
  background-color: #FFC400;
}

button.btnA_LwRA:hover div {
  transform: translate(5px, 5px);
  border-color: transparent transparent transparent white;
}

button.btnA_LwRA:hover div::before {
  border-color: transparent transparent transparent #FFC400;
}

button.btnA_LwRA:hover div::after {
  background-color: white;
}

button.btnA_LwLA {
  position: relative;
  z-index: 2;
  width: 95px;
  height: 45px;
  border: 2px solid #555555;
  background-color: #FFC400;
  outline: 0px !important;
  transition: 0.2s all ease-in-out;
  border-radius: 10px 10px 6px 10px;
}

button.btnA_LwLA::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-bottom-right-radius: 10px;
  left: 8px;
  top: 8px;
  transition: 0.2s all ease-in-out;
}

button.btnA_LwLA p {
  position: absolute;
  top: 7px;
  left: 33px;
  transition: 0.2s all ease-in-out;
  color: #555555;
}

button.btnA_LwLA div.btnArrowL {
  position: absolute;
  left: 4px;
  top: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent #555555 transparent;
}

button.btnA_LwLA div.btnArrowL::before {
  position: absolute;
  content: "";
  left: -5.5px;
  top: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent #FFC400 transparent;
}

button.btnA_LwLA div.btnArrowL::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  left: -8.5px;
  top: 8px;
  transition: 0.2s all ease-in-out;
  background-color: #555555;
}

button.btnA_LwLA:hover::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-color: #FFC400;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  transition: 0.2s all ease-in-out;
}

button.btnA_LwLA:hover p {
  color: white;
  transform: translate(5px, 5px);
}

button.btnA_LwLA:hover {
  border: 0px solid #FFC400;
  background-color: #FFC400;
}

button.btnA_LwLA:hover div {
  transform: translate(5px, 5px);
  border-color: transparent transparent white transparent;
}

button.btnA_LwLA:hover div::before {
  border-color: transparent transparent #FFC400 transparent;
}

button.btnA_LwLA:hover div::after {
  background-color: white;
}

button.btnA_L {
  position: relative;
  z-index: 2;
  width: 95px;
  height: 45px;
  border: 2px solid #555555;
  background-color: #FFC400;
  outline: 0px !important;
  transition: 0.2s all ease-in-out;
  border-radius: 10px 10px 6px 10px;
}

button.btnA_L::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-bottom-right-radius: 10px;
  left: 8px;
  top: 8px;
  transition: 0.2s all ease-in-out;
}

button.btnA_L p {
  position: absolute;
  top: 7px;
  left: 7px;
  transition: 0.2s all ease-in-out;
  color: #555555;
}

button.btnA_L:hover::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-color: #FFC400;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  transition: 0.2s all ease-in-out;
}

button.btnA_L:hover p {
  color: white;
  transform: translate(5px, 5px);
}

button.btnA_L:hover {
  border: 0px solid #FFC400;
  background-color: #FFC400;
}

button.btnA_MwRA {
  position: relative;
  z-index: 2;
  width: 45px;
  height: 45px;
  border: 2px solid #555555;
  background-color: #FFC400;
  outline: 0px !important;
  transition: 0.2s all ease-in-out;
  border-radius: 10px 10px 6px 10px;
}

button.btnA_MwRA::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-bottom-right-radius: 10px;
  left: 8px;
  top: 8px;
  transition: 0.2s all ease-in-out;
}

button.btnA_MwRA div.btnArrowM {
  position: absolute;
  left: 24px;
  top: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 0 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent transparent #555555;
}

button.btnA_MwRA div.btnArrowM::before {
  position: absolute;
  content: "";
  left: -11px;
  top: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 0 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent transparent #FFC400;
}

button.btnA_MwRA div.btnArrowM::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  left: -22px;
  transition: 0.2s all ease-in-out;
  background-color: #555555;
}

button.btnA_MwRA:hover::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-color: #FFC400;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  transition: 0.2s all ease-in-out;
}

button.btnA_MwRA:hover {
  border: 0px solid #FFC400;
  background-color: #FFC400;
}

button.btnA_MwRA:hover div {
  transform: translate(5px, 5px);
  border-color: transparent transparent transparent white;
}

button.btnA_MwRA:hover div::before {
  border-color: transparent transparent transparent #FFC400;
}

button.btnA_MwRA:hover div::after {
  background-color: white;
}

button.btnA_MwLA {
  position: relative;
  z-index: 2;
  width: 45px;
  height: 45px;
  border: 2px solid #555555;
  background-color: #FFC400;
  outline: 0px !important;
  transition: 0.2s all ease-in-out;
  border-radius: 10px 10px 6px 10px;
}

button.btnA_MwLA::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-bottom-right-radius: 10px;
  left: 8px;
  top: 8px;
  transition: 0.2s all ease-in-out;
}

button.btnA_MwLA div.btnArrowM {
  position: absolute;
  left: 8px;
  top: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent #555555 transparent;
}

button.btnA_MwLA div.btnArrowM::before {
  position: absolute;
  content: "";
  left: -6px;
  top: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  transition: 0.2s all ease-in-out;
  border-color: transparent transparent #FFC400 transparent;
}

button.btnA_MwLA div.btnArrowM::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 2px;
  left: -8.5px;
  top: 8px;
  transition: 0.2s all ease-in-out;
  background-color: #555555;
}

button.btnA_MwLA:hover::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-color: #FFC400;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  transition: 0.2s all ease-in-out;
}

button.btnA_MwLA:hover {
  border: 0px solid #FFC400;
  background-color: #FFC400;
}

button.btnA_MwLA:hover div {
  transform: translate(5px, 5px);
  border-color: transparent transparent white transparent;
}

button.btnA_MwLA:hover div::before {
  border-color: transparent transparent #FFC400 transparent;
}

button.btnA_MwLA:hover div::after {
  background-color: white;
}

button.btnA_S {
  position: relative;
  margin: 3px;
  display: inline-block;
  z-index: 2;
  width: 22px;
  height: 22px;
  outline: 0px !important;
  overflow: hidden;
}

button.btnA_S::after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #FFC400;
  position: absolute;
  left: 0;
  top: 100%;
  transition: 0.2s all ease-in-out;
}

button.btnA_S p {
  z-index: 2;
  font-size: 10px;
  font-weight: 500;
  transform: translate(-2px, 0px);
  transition: 0.2s all ease-in-out;
}

button.btnA_S:hover::after {
  top: 0%;
}

button.btnA_S:hover p {
  color: white;
}

button.btnA_S.-active::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #FFC400;
  position: absolute;
  top: calc(100% - 3px);
  transition: 0s;
}

button.btnA_S.-active p {
  font-weight: 700;
  color: #FFC400;
}

button.btnB_XL_blue {
  position: relative;
  z-index: 2;
  width: 190px;
  height: 45px;
  outline: 0px !important;
}

button.btnB_XL_blue::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #2C5E9E;
  border-radius: 15px;
}

button.btnB_XL_blue p {
  z-index: 1;
  color: white;
  transition: 0.4s all ease-in-out;
}

button.btnB_XL_blue div.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #2C5E9E;
  overflow: hidden;
}

button.btnB_XL_blue div.bg::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100%;
  width: 130%;
  height: 100%;
  background-color: white;
  transform: skewX(15deg);
  transition: 0.3s all ease-in-out;
}

button.btnB_XL_blue:hover p {
  color: #2C5E9E;
}

button.btnB_XL_blue:hover div.bg::after {
  left: 0%;
}

button.btnB_XL_yellow {
  position: relative;
  z-index: 2;
  width: 190px;
  height: 45px;
  outline: 0px !important;
}

button.btnB_XL_yellow::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #FFC400;
  border-radius: 15px;
}

button.btnB_XL_yellow p {
  z-index: 1;
  color: white;
  transition: 0.4s all ease-in-out;
}

button.btnB_XL_yellow div.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #FFC400;
  overflow: hidden;
}

button.btnB_XL_yellow div.bg::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100%;
  width: 130%;
  height: 100%;
  background-color: white;
  transform: skewX(15deg);
  transition: 0.3s all ease-in-out;
}

button.btnB_XL_yellow:hover p {
  color: #FFC400;
}

button.btnB_XL_yellow:hover div.bg::after {
  left: 0%;
}

button.btnB_XL_grey {
  position: relative;
  z-index: 2;
  width: 190px;
  height: 45px;
  outline: 0px !important;
}

button.btnB_XL_grey::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #555555;
  border-radius: 15px;
}

button.btnB_XL_grey p {
  z-index: 1;
  color: white;
  transition: 0.4s all ease-in-out;
}

button.btnB_XL_grey div.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #555555;
  overflow: hidden;
}

button.btnB_XL_grey div.bg::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100%;
  width: 130%;
  height: 100%;
  background-color: white;
  transform: skewX(15deg);
  transition: 0.3s all ease-in-out;
}

button.btnB_XL_grey:hover p {
  color: #555555;
}

button.btnB_XL_grey:hover div.bg::after {
  left: 0%;
}

button.btnB_L_blue {
  position: relative;
  z-index: 2;
  width: 95px;
  height: 45px;
  outline: 0px !important;
}

button.btnB_L_blue::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #2C5E9E;
  border-radius: 15px;
}

button.btnB_L_blue p {
  z-index: 1;
  color: white;
  transition: 0.3s all ease-in-out;
}

button.btnB_L_blue div.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #2C5E9E;
  overflow: hidden;
}

button.btnB_L_blue div.bg::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100%;
  width: 130%;
  height: 100%;
  background-color: white;
  transform: skewX(15deg);
  transition: 0.2s all ease-in-out;
}

button.btnB_L_blue:hover p {
  color: #2C5E9E;
}

button.btnB_L_blue:hover div.bg::after {
  left: 0%;
}

button.btnB_L_yellow {
  position: relative;
  z-index: 2;
  width: 95px;
  height: 45px;
  outline: 0px !important;
}

button.btnB_L_yellow::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #FFC400;
  border-radius: 15px;
}

button.btnB_L_yellow p {
  z-index: 1;
  color: white;
  transition: 0.3s2all ease-in-out;
}

button.btnB_L_yellow div.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #FFC400;
  overflow: hidden;
}

button.btnB_L_yellow div.bg::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100%;
  width: 130%;
  height: 100%;
  background-color: white;
  transform: skewX(15deg);
  transition: 0.2s all ease-in-out;
}

button.btnB_L_yellow:hover p {
  color: #FFC400;
}

button.btnB_L_yellow:hover div.bg::after {
  left: 0%;
}

button.btnB_L_grey {
  position: relative;
  z-index: 2;
  width: 95px;
  height: 45px;
  outline: 0px !important;
}

button.btnB_L_grey::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #555555;
  border-radius: 15px;
}

button.btnB_L_grey p {
  z-index: 1;
  color: white;
  transition: 0.3s2all ease-in-out;
}

button.btnB_L_grey div.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #555555;
  overflow: hidden;
}

button.btnB_L_grey div.bg::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100%;
  width: 130%;
  height: 100%;
  background-color: white;
  transform: skewX(15deg);
  transition: 0.2s all ease-in-out;
}

button.btnB_L_grey:hover p {
  color: #555555;
}

button.btnB_L_grey:hover div.bg::after {
  left: 0%;
}

.member_styleA {
  flex-shrink: 0;
}

.member_styleA .memberImg {
  display: inline-block;
  background-color: #555;
  border-radius: 50%;
  width: 65px;
  padding-top: 65px;
  overflow: hidden;
  position: relative;
}

.member_styleA .memberImg img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.member_styleA .memberInfo {
  display: inline-block;
}

.member_styleA .memberInfo .certification .certificationIcon {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
}

.member_styleA .memberInfo .certification .certificationIcon img {
  height: 100%;
  position: absolute;
  top: 0;
}

.member_styleA .memberInfo .memberId {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.5px;
}

.member_styleA .memberInfo .memberBadge .memberBadgeIcon {
  display: inline-block;
  width: 25px;
  padding-top: 25px;
  overflow: hidden;
  position: relative;
}

.member_styleA .memberInfo .memberBadge .memberBadgeIcon img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.member_styleA.row {
  width: 211px;
  display: inline-block;
}

.member_styleA.row .memberInfo .memberBadge {
  display: inline-block;
}

.member_styleA.column {
  width: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member_styleA.column .memberInfo .memberId {
  text-align: center;
}

.member_styleA.column .memberInfo .certification {
  display: flex;
  justify-content: center;
}

.member_styleA.column .memberInfo .certification .certificationIcon {
  margin: 5px;
}

.member_styleA.column .memberInfo .memberBadge {
  display: flex;
  justify-content: center;
}

.member_styleA.column .memberInfo .memberBadge .memberBadgeIcon {
  margin: auto 5px;
}

@media screen and (min-width: 1440px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    min-height: calc(100vh - 70px - 209px);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    min-height: calc(100vh - 70px - 281px);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  body {
    min-height: calc(100vh - 70px - 380px);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  body {
    min-height: calc(100vh - 70px - 392px);
    display: flex;
    flex-direction: column;
  }
}

.changeIcon {
  cursor: pointer;
}

.serchMeet h2 {
  margin: 50px auto;
}

.serchMeet .searchFormMap {
  width: 100%;
  display: inline-flex;
}

.serchMeet .searchFormMap .serch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  width: 450px;
}

.serchMeet .searchFormMap .serch .location, .serchMeet .searchFormMap .serch .degree {
  display: flex;
  align-items: center;
}

.serchMeet .searchFormMap .serch .location > p, .serchMeet .searchFormMap .serch .degree > p {
  display: inline-block;
  color: #fff;
  padding: 5px 15px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #2C5E9E;
  margin: 10px;
}

.serchMeet .searchFormMap .serch .location > div label p, .serchMeet .searchFormMap .serch .degree > div label p {
  display: inline-block;
  padding: 3px 10px;
}

.serchMeet .searchFormMap .serch .location > div label p.-on, .serchMeet .searchFormMap .serch .degree > div label p.-on {
  color: #fff;
  background-color: #FFC400;
}

.serchMeet .searchFormMap .serchMap {
  height: 50vh;
  flex-grow: 2;
}

.marker_click_info {
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.marker_click_info .mountain_name {
  display: inline-block;
}

.marker_click_info .mountain_name h3 {
  display: inline;
  position: relative;
}

.marker_click_info .mountain_name h3::after {
  padding-top: 3px;
}

.marker_click_info .mountain_name h3 span {
  position: absolute;
  right: -40px;
}

.marker_click_info .meets {
  width: 100%;
}

.marker_click_info .meets a {
  display: inline-block;
  width: 100%;
  background-color: #F3F3F3;
  margin: 5px 0;
  padding: 10px;
}

.marker_click_info .meets a:hover {
  background-color: #EAF1F4;
}

.marker_click_info .meets a .date_member {
  display: flex;
  align-items: center;
}

.marker_click_info .meets a .date_member .member_styleC {
  display: inline-flex;
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  .serchMeet .searchFormMap form.serch {
    align-items: center;
    width: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .serchMeet .searchFormMap {
    flex-direction: column;
    align-items: center;
  }
  .serchMeet .searchFormMap .serchMap {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .serchMeet .searchFormMap {
    flex-direction: column;
    align-items: center;
  }
  .serchMeet .searchFormMap .serchMap {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .serchMeet .searchFormMap {
    flex-direction: column;
    align-items: center;
  }
  .serchMeet .searchFormMap .serchMap {
    width: 100%;
    height: 80vh;
  }
}

@media screen and (max-width: 390px) {
  .serchMeet .searchFormMap .serch > div {
    flex-wrap: wrap;
  }
  .serchMeet .searchFormMap .serch > div > div {
    margin: auto;
  }
}

.member_styleC {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.member_styleC .memberImg {
  display: inline-block;
  background-color: #555;
  border-radius: 50%;
  width: 30px;
  padding-top: 30px;
  overflow: hidden;
  position: relative;
}

.member_styleC .memberImg img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.member_styleC .memberId {
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.5px;
}
/*# sourceMappingURL=map.css.map */